{% extends 'base.html.twig' %}

{% block title %}Modifier Article{% endblock %}

{% block body %}
    <h1 class="mainTitle">Modifier mon article</h1>
    {% if app.user is same as (article.author) %}
        <fieldset class="formFs">
            {{ include('article/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            <div class="center">
                <a href="{{ path('home') }}">Retour aux articles</a>
            </div>
            {{ include('article/_delete_form.html.twig') }}
        </fieldset>

    {% else %}
        <p>Seuls les auteurs d'un article peuvent le modifier</p>
    {% endif %}

{% endblock %}
